{% from "macros/alerts.html" import flash_messages with context %}


<div class="mb-5 mt-2">
    <div class="h5 mb-1">Create movie</div>
    <div class="font-italic mb-3">You have to specify at least a title and an actor.</div>
    <form action="{{ url_for('api.create_movie') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="input-title">Title:</label>
            <input type="text" class="form-control" id="input-title" name="title" placeholder="Enter title of movie"
                   required/>
        </div>
        <div class="form-group">
            <label for="input-description">Description:</label>
            <input type="text" class="form-control" id="input-description" name="description"
                   placeholder="Enter plot of movie"
            />
        </div>
        <div class="form-group">
            <label for="input-year">Year:</label>
            <input type="number" class="form-control" id="input-year" name="year" placeholder="Enter year of movie"/>
        </div>
        <div class="form-group">
            <label for="input-actors">Actors(type actors delimited with ","(comma):</label>
            <textarea class="form-control" id="input-actors" name="actors" rows="3" placeholder="Actors"
                      required></textarea>
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="Create" />
    </form>
</div>
